.woocommerce{
  .woocommerce-loop-category__title,
  .woocommerce-loop-product__title{
    color: #000;
  }
  .woocommerce-loop-category__title .count{
    background: none;
  }

  .woocommerce .star-rating::before{
    color: $my-orangered-darkest; //$primary;
  }
  .star-rating span::before{
    color: $secondary;
  }
  #respond input#submit.alt,
  a.button.alt,
  button.button.alt,
  input.button.alt,
  #respond input#submit, a.button, button.button, input.button{
    height: 40px;
    line-height: 36px;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #fff;
    color: #ffbc6a;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    border-color: #ffbc6a;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    border-radius: 3em;
    transition: all 0.5s;
    &:hover{
      background-color: #ffbc6a;
      color: #fff;
    }
  }
  .widget_price_filter .price_slider_wrapper .ui-widget-content{
    background-color: rgba($my-orange-lightest, .3);;
  }
  .widget_price_filter .ui-slider .ui-slider-range,
  .widget_price_filter .ui-slider .ui-slider-handle{
    background-color: $my-orangered-darkest;
  }
  .widget_price_filter .ui-slider .ui-slider-handle{
    top: 0;
  }
  .password-input{
    flex-grow: 1;
  }
  .woocommerce-MyAccount-navigation{
    ul{
      list-style: none;
      padding-left: 0;
    }
    .woocommerce-MyAccount-navigation-link {
      & > a {
        display: block;
        text-transform: uppercase;
        padding: .5rem .25rem;
      }
      &.is-active{
        color: #ac2500 !important;
      }
    }
  }

  .woocommerce-address-fields{
    .woocommerce-input-wrapper{
      width: 100%;
    }
  }
  .woocommerce-shipping-fields,
  .woocommerce-additional-fields,
  .woocommerce-address-fields,
  .woocommerce-billing-fields__field-wrapper{
    .woocommerce-input-wrapper{
      width: 100%;
    }
    .input-text.input-lg{
      height: calc(1.5em + 0.75rem + 4px);
      padding: 0.375rem 1rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 2px solid #ced4da;
      border-radius: 3rem;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #ff9679;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(248, 54, 0, 0.25);
      }
    }

  }
  .woocommerce-shipping-fields{
    .form-row-first,
    .form-row-last{
      float: none;
      width: 100% !important;
    }
  }
  .woocommerce-additional-fields{
    textarea.form-control{
      width: 100%;
      min-height: 150px;
    }
  }
  form .form-row .select2-container{
    height: 40px;
    .select2-selection--single{
      border: none;
      .select2-selection__arrow {
        top: 7px;
        right: 7px;
      }
    }
    .select2-selection__rendered{
      height: calc(1.5em + 0.75rem + 4px);
      padding: 0.375rem 1rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 2px solid #ced4da;
      border-radius: 3rem;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #ff9679;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(248, 54, 0, 0.25);
      }
    }

  }

}

.select2-container--open .select2-dropdown--below.select2-dropdown {
  background-color: #fff;
  border: 1px solid #aaa !important;
  border-radius: 4px !important;
}
.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[data-selected=true] {
  background-color: $my-orange-lightest;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: $my-orange-darkest;
  color: #fff;
}

//catalog page
.woocommerce-page.woocommerce{
  ul.products, .woocommerce ul.products{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
  }

   ul.products li.product, .woocommerce-page ul.products li.product{
    display: flex;
    flex-direction: column;
    width: calc( (100% - 16px * 2) / 2 );// !important;
    margin: 8px; // !important;
    padding: .6rem;
    border-radius: $border-radius;
    @include BoxShadow(3);
    transition: .3s all;
    @include media(md){
      width: calc( (100% - 16px * 3) / 3 ); // !important;
      padding: 1rem;
    }

    &:hover{
      @include BoxShadow(8);
    }
  }
  @include media(lg){
    ul.products.columns-4 li.product{
      width: calc( (100% - 16px * 4) / 4 );
    }
  }

  .woocommerce-LoopProduct-link{
    flex-grow: 1;
  }
  .woocommerce-LoopProduct-link img{
    object-fit: contain;
    max-height: 227px;
  }

  //product page
  &.single-product{
    form.cart{
      display: flex;
    }
    .cart .quantity{
      margin: 0 -1rem 0 0 !important;
      padding-right: 1rem;
      border-radius: 3em 0 0 3em;
      background-color: #fff;
      background-clip: padding-box;
      border: 2px solid #ced4da;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      &:focus-within{
        background-color: #fff;
        border-color: #ff9679;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 0.2rem rgba(248,54,0,.25);
      }
    }
    .input-text.qty{
      height: 100%;
      border: none;
      border-radius: 3em 0 0 3em;
      outline: 0 !important;
    }
  }
}
