.woocommerce{
  .woocommerce-loop-category__title,
  .woocommerce-loop-product__title{
    color: #000;
  }
  .woocommerce-loop-category__title .count{
    background: none;
  }
  //
  //.woocommerce .star-rating::before{
  //  color: $my-orangered-darkest; //$primary;
  //}
  //.star-rating span::before{
  //  color: $secondary;
  //}
  //
  //p.stars{
  //  width: max-content;
  //}
  //.stars.selected a:not(.active):before,
  //.stars.selected a.active:before{
  //  color: $secondary;
  //}
  //.stars.selected a.active~a:before{
  //  color: #404040;
  //}
  //.stars.selected a.active:before,
  //.stars:hover a:before{
  //  color: $secondary;
  //}
  //
  //.stars.selected a.active:before{
  //  color: #404040;
  //}

  #respond input#submit.alt,
  a.button.alt,
  button.button.alt,
  input.button.alt,
  #respond input#submit, a.button, button.button, input.button{
    height: 40px;
    line-height: 36px;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #fff;
    color: #ffbc6a;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    border-color: #ffbc6a;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    border-radius: 3em;
    transition: all 0.5s;
    &:hover{
      background-color: #ffbc6a;
      color: #fff;
    }
  }
  #respond input#submit.alt,
  a.button.alt,
  button.button.alt,
  input.button.alt,{
    color: $my-orangered;
    border-color: $my-orangered;
    &:hover{
      background-color: $my-orangered;
    }
  }
  #respond input#submit.disabled,
  #respond input#submit:disabled,
  #respond input#submit:disabled[disabled],
  a.button.disabled, .woocommerce a.button:disabled,
  a.button:disabled[disabled],
  button.button.disabled,
  button.button:disabled,
  button.button:disabled[disabled],
  input.button.disabled,
  input.button:disabled,
  input.button:disabled[disabled]{
    padding: 0 10px;
    filter: grayscale(1);
  }
  .widget_price_filter .price_slider_wrapper .ui-widget-content{
    background-color: rgba($my-orange-lightest, .3);;
  }
  .widget_price_filter .ui-slider .ui-slider-range,
  .widget_price_filter .ui-slider .ui-slider-handle{
    background-color: $my-orangered-darkest;
  }
  .widget_price_filter .ui-slider .ui-slider-handle{
    top: 0;
  }
  .password-input{
    flex-grow: 1;
  }
  .woocommerce-MyAccount-navigation{
    ul{
      list-style: none;
      padding-left: 0;
    }
    .woocommerce-MyAccount-navigation-link {
      & > a {
        display: block;
        text-transform: uppercase;
        padding: .5rem .25rem;
      }
      &.is-active{
        color: #ac2500 !important;
      }
    }
  }

  .woocommerce-address-fields{
    .woocommerce-input-wrapper{
      width: 100%;
    }
  }
  .woocommerce-shipping-fields,
  .woocommerce-additional-fields,
  .woocommerce-address-fields,
  .woocommerce-billing-fields__field-wrapper{
    .woocommerce-input-wrapper{
      width: 100%;
    }
    .input-text.input-lg{
      height: calc(1.5em + 0.75rem + 4px);
      padding: 0.375rem 1rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 2px solid #ced4da;
      border-radius: 3rem;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #ff9679;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(248, 54, 0, 0.25);
      }
    }

  }
  .woocommerce-shipping-fields{
    .form-row-first,
    .form-row-last{
      float: none;
      width: 100% !important;
    }
  }
  .woocommerce-additional-fields{
    textarea.form-control{
      width: 100%;
      min-height: 150px;
    }
  }
  form .form-row .select2-container{
    height: 40px;
    .select2-selection--single{
      border: none;
      .select2-selection__arrow {
        top: 7px;
        right: 7px;
      }
    }
    .select2-selection__rendered{
      height: calc(1.5em + 0.75rem + 4px);
      padding: 0.375rem 1rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 2px solid #ced4da;
      border-radius: 3rem;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #ff9679;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(248, 54, 0, 0.25);
      }
    }

  }

}

.select2-container--open .select2-dropdown--below.select2-dropdown {
  background-color: #fff;
  border: 1px solid #aaa !important;
  border-radius: 4px !important;
}
.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[data-selected=true] {
  background-color: $my-orange-lightest;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: $my-orange-darkest;
  color: #fff;
}

//catalog page
.woocommerce{

  ul.products, .woocommerce ul.products{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
  }

   ul.products li.product, .woocommerce-page ul.products li.product{
    display: flex;
    flex-direction: column;
    width: calc( (100% - 16px * 2) / 2 );// !important;
    margin: 8px; // !important;
    padding: .6rem;
    border-radius: $border-radius;
    @include BoxShadow(3);
    transition: .3s all;
    @include media(md){
      width: calc( (100% - 16px * 3) / 3 ); // !important;
      padding: 1rem;
    }

    &:hover{
      @include BoxShadow(8);
    }
    .onsale{
      top: 1.6rem;
      right: .6rem;
      color: $my-orangered;
      border: 2px solid $my-orangered;
      //border-radius: $btn-border-radius;
      background-color: transparent;
      transform: rotate(40deg);
    }
  }
  @include media(lg){
    ul.products.columns-4 li.product{
      width: calc( (100% - 16px * 4) / 4 );
    }
  }

  .woocommerce-LoopProduct-link{
    flex-grow: 1;
  }
  .woocommerce-LoopProduct-link img{
    object-fit: contain;
    max-height: 227px;
  }

  //product page
  &.single-product{
    form.cart{
      display: flex;
    }
    .cart .quantity{
      margin: 0 -1rem 0 0 !important;
      padding-right: 1rem;
      border-radius: 3em 0 0 3em;
      background-color: #fff;
      background-clip: padding-box;
      border: 2px solid #ced4da;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      &:focus-within{
        background-color: #fff;
        border-color: #ff9679;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 0.2rem rgba(248,54,0,.25);
      }
    }
    .input-text.qty{
      height: 100%;
      border: none;
      border-radius: 3em 0 0 3em;
      outline: 0 !important;
    }
  }
  .woocommerce-ordering{
    position: relative;
    .orderby{
      position: relative;
      appearance: none;
      height: calc(1.5em + .75rem + 4px);
      padding: .375rem 1rem;
      padding-right: 1.6rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 2px solid #ced4da;
      border-radius: 3rem;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      &:focus{
        color: #495057;
        background-color: #fff;
        border-color: #ff9679;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 0.2rem rgba(248,54,0,.25);
      }
    }
    &:after{
      content: '';
      display: block;
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      right: 12px;
      position: absolute;
      top: 50%;
      width: 0;
      pointer-events: none;
      z-index: 9;
    }
  }

  .woocommerce-result-count{
    margin: 1rem 0;
  }

  ul.products li.product-category{
    position: relative;
    a img{
      display: block;
      margin: 0;
    }
    .woocommerce-loop-category__title{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1em 0 ;
      text-align: center;
      font-size: 24px;
      line-height: 1;
      color: $my-orange-lightest;
      background-image: linear-gradient(to top, #ffffff 70%, rgba(#ffffff, 0));
      text-shadow: 2px 2px 12px white;
    }
    .count{
      font-size: 75%;
      line-height: 24px;
      color: inherit;
    }
  }

  //messages

  .woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments {
    background-color: lighten($my-orange-lighter, 30);
  }

  .shipping-calculator-form .form-row [type="text"]{
    height: calc(1.5em + .75rem + 4px);
    padding: .375rem 1rem;
    padding-right: 1.6rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: 3rem;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:focus{
      color: #495057;
      background-color: #fff;
      border-color: #ff9679;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 0.2rem rgba(248,54,0,.25);
    }
  }
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment{
  background-color: lighten($my-orange-lighter, 30);
}

#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box{
  background-color: lighten($my-orange-lighter, 20);
}
#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before{
  border-bottom-color: lighten($my-orange-lighter, 20);
}