.main-menu{
  position: relative;
  &::before,
  &::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2.5px;
    @include bg-main-gradient()
  }
  &::before{
    top: 0;
  }
  &::after{
    bottom: 0;
  }

  .nav-link,
  .dropdown-item{
    text-transform: uppercase;
  }
}

//for sticky menu:

.site-header{
  position: relative;
  padding-bottom: 56px;
}
.main-menu{
  position: absolute;
  left: 0;
  right: 0;
  background: $white;
}
.fixed-top-js{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;

}