.to-top{
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: rgba($white, .5);
  .dashicons, .dashicons-before:before {
    line-height: 1;
    vertical-align: unset;
  }

  .to-top.show-js{
    display: block;
    animation: showBlock 1s linear forwards;
  }

  @keyframes showBlock {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
