/*
Initial colors:

$my-orangered: #f83600;
$my-orange: #fe8c00;
$my-darkred: #7d1324;


*/

$my-orangered-darkest: #8d1e00;
$my-orangered-darker: #b02600;
$my-orangered-dark: #d42e00;
$my-orangered: #f83600;
$my-orangered-light: #ff4e1d;
$my-orangered-lighter: #ff6a40;
$my-orangered-lightest: #ff8664;

$my-orange-darkest: #935100;
$my-orange-darker: #b76400;
$my-orange-dark: #da7800;
$my-orange: #fe8c00;
$my-orange-light: #ff9c23;
$my-orange-lighter: #ffac46;
$my-orange-lightest: #ffbc6a;

$my-darkred-darkest: #200509;
$my-darkred-darker: #3f0a12;
$my-darkred-dark: #5e0e1c;
$my-darkred: #7d1325;
$my-darkred-light: #9c182e;
$my-darkred-lighter: #bb1c37;
$my-darkred-lightest: #da2140;